.file__manager.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.files-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
}
.file-names {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px;    
}
#logout {
    display: grid;
    justify-items: end;
}